//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Num         1
#define Sym         2

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };



    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
                        &kp Q         &kp W         &kp E         &kp R          &kp T    &kp Y  &kp U          &kp I          &kp O         &kp P
                        &kp A         &kp S         &kp D         &kp F          &kp G    &kp H  &kp J          &kp K          &kp L         &kp SEMI
&kp ESCAPE              &hm LCTRL Z   &hm LALT X    &hm LGUI C    &hm LSHFT V    &kp B    &kp N  &hm RSHFT M    &hm RGUI COMMA &hm RALT DOT  &hm RCTRL SLASH  &kp APOSTROPHE
                                                    &kp LS(LA(LG(LCTRL)))  &kp SPACE  &lt 1 TAB    &lt 2 ENTER  &kp LSHFT  &kp BACKSPACE
            >;
        };

        Num {
            bindings = <
       &kp FSLH      &kp N7  &kp N8  &kp N9  &kp LS(PLUS)    &kp C_VOLUME_DOWN  &kp C_PREVIOUS  &kp C_PLAY_PAUSE  &kp C_NEXT  &kp C_VOLUME_UP
       &kp LS(STAR)  &kp N4  &kp N5  &kp N6  &kp MINUS       &kp LEFT           &kp DOWN        &kp UP            &kp RIGHT   &none
&none  &kp N0        &kp N1  &kp N2  &kp N3  &kp EQUAL       &none              &none           &none             &none       &none            &none
                             &trans  &trans  &trans          &trans             &trans          &trans
            >;
        };

        Sym {
            bindings = <
       &kp LS(EXCL)  &kp LS(AT)    &kp LS(POUND)  &kp LS(DLLR)  &kp LS(PRCNT)    &kp LS(CARET)  &kp LS(AMPS)   &kp LS(STAR)  &kp GRAVE     &kp LS(TILDE)
       &kp LS(LT)    &kp LS(LPAR)  &kp LBKT       &kp LS(LBRC)  &kp FSLH         &kp BSLH       &kp LS(RBRC)   &kp RBKT      &kp LS(RPAR)  &kp LS(GT)
&none  &none         &none         &none          &none         &none            &none          &kp LS(UNDER)  &kp MINUS     &kp LS(PLUS)  &kp EQUAL      &kp LS(PIPE)
                                   &trans         &trans        &trans           &trans         &trans         &trans
            >;
        };

    };
};
